
p 
{
    font-family: Lato;
}

table 
{
    width: 100%;
    margin: auto;
    overflow: auto;
}

.button-edit 
{
    text-align: right;
    margin-top: 10px;
}

h2 
{
    text-align: center;
    padding-top: 20px;
}

.table-header 
{
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
}

.button-add-row 
{
    background: #1b9e1b;
    color: #ffffff;
    margin-right: 10px;
    margin-top: 10px;
}

.button-remove-rows 
{
    background: red;
    color: #ffffff;
    margin-right: 10px;
    margin-top: 10px;
}

::ng-deep .mat-form-field-infix 
{
    width: 100% !important;
}

.search-input
{
    margin-top: 10px;
    margin-right: 20px;
}

.form-input 
{
    padding-right: 20px;
    max-width: 150px;
}

.data-table-toolbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.checkbox
{
    margin-right: 20px;
}

.table-size 
{
    max-height: 500px;
    min-width: 100%; 
    width: 100%;
    overflow: auto;
}

.text-input
{
    padding: 0;
}

.data-input 
{
    min-width: 60px;
}

th.mat-header-cell:first-of-type, 
td.mat-cell:first-of-type, 
td.mat-footer-cell:first-of-type
{
    padding: 0;
    padding-left: 10px;
    min-width: 20px;
}

.mat-header-cell, .mat-cell, .mat-footer-cell 
{
    min-width: 60px;
    padding-right: 10px;
    display: table-cell;
}

.mat-row, .mat-header-row 
{
  display: table-row;
}