.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    padding: 16px;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    position: relative;
}
  
.card.card.highlight-card span {
    margin-left: 60px;
}

.button-excel {
    margin-top: 10px !important;
    background-color: #82d89b;
    // color: white;
    // margin-left: 8px !important;
    // padding: 1px 5px !important;
    // min-width: 120px;
    min-width: 124px;
}
  
.button-word {
    margin-top: 10px !important;
    // margin-right: 0 !important;
    // padding: 1px 5px !important;
    min-width: 124px;
}
  
.button-pdf {
    margin-top: 10px !important;
    margin-left: 0 !important;
    min-width: 124px;
    // padding: 1px 5px !important;
    // min-width: 120px;
}