<div class="data-container">
    <div class="buttons-container"> 
        <ng-container *ngIf="!isManual">
            <button mat-raised-button color="primary" (click)="manualDataInput()">Ручной ввод</button>
        </ng-container>
        <ng-container *ngIf="isManual">
            <button mat-raised-button color="primary" (click)="fileDataInput()">Загрузка из файла</button>
        </ng-container>
    </div>
    <div>
        <ng-container *ngIf="!isManual">
            <app-file-reader></app-file-reader> 
        </ng-container>

        <ng-container *ngIf="tableData.data.length !== 0">
        <mat-card>
            <mat-card-title>
                {{title}}
            </mat-card-title>
            <mat-card-content>
                <app-data-table 
                    [tableData]="tableData"
                    [tableType]="inputTableType"
                    [isPageble]="true"
                    [withToolbar]="true"
                ></app-data-table>
            </mat-card-content>
        </mat-card>
        </ng-container>
        <!-- </div> -->
    </div>
</div>