<div class="data-container">
    <div class="buttons-container"> 
        <ng-container *ngIf="!isManual">
            <button mat-raised-button 
                color="primary" 
                class="button-input"
                (click)="manualDataInput()"
            >
                Ручной ввод
            </button>
            <button mat-raised-button 
                color="primary" 
                class="button-input"
                (click)="loadExampleData(1)"
            >
                Пример 1
            </button>
            <button mat-raised-button 
                color="primary" 
                class="button-input"
                (click)="loadExampleData(2)"
            >
                Пример 2
            </button>
        </ng-container>
        <ng-container *ngIf="isManual">
            <button mat-raised-button 
                color="primary" 
                class="button-input"
                (click)="fileDataInput()"
            >
                Загрузка из файла
            </button>
        </ng-container>
    </div>
    <div>
        <ng-container *ngIf="!isManual">
            <app-file-reader></app-file-reader> 
        </ng-container>

        <ng-container *ngIf="tableData.data.length !== 0">
        <mat-card>
            <mat-card-title>
                {{title}}
            </mat-card-title>
            <mat-card-content>
                <app-data-table 
                    [tableData]="tableData"
                    [tableType]="inputTableType"
                    [isPageble]="true"
                    [withToolbar]="true"
                ></app-data-table>
            </mat-card-content>
        </mat-card>
        </ng-container>
        <!-- </div> -->
    </div>
</div>