
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.button-excel {
  background-color: #82d89b;
  margin-left: 8px !important;
  padding: 1px 5px !important;
}

.button-word {
  margin-right: 0 !important;
  padding: 1px 5px !important;
}

.button-pdf {
  padding: 1px 5px !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  // all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  // height: 40px;
  // width: 200px;
  // margin: 0 8px 16px;
  padding: 0 0 16px 0;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  // min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}