<!-- <div class="card highlight-card"> -->
    <!-- <div class="buttons-container">  -->
<mat-card class="card highlight-card">
    <mat-card-actions class="buttons-container">
                <!-- <div class="buttons-container">       -->
        <!-- <div> -->
        <button 
            mat-raised-button 
            color="accent" 
            class="button-excel" 
            (click)="downloadExcel()"
        >
            Скачать Excel
        </button>  
        <!-- </div>
        <div> -->
        <button 
            mat-raised-button 
            class="button-word" 
            color="primary"
            (click)="downloadWord()"
        >
            Скачать Word
        </button>  
        <!-- </div>
        <div> -->
        <button 
            mat-raised-button 
            class="button-pdf" 
            color="warn" 
            (click)="downloadPdf()"
        >
            Скачать PDF
        </button> 
        <!-- </div> -->
        <!-- </div> -->
    </mat-card-actions>
</mat-card>
    <!-- </div> -->
<!-- </div> -->
