<!-- <div class="card highlight-card card-small"> -->
<!-- <div class="data-container"> -->
    <!-- <div class="buttons-container">  -->
        <!-- <ng-container *ngIf="!isManual">
            <button mat-button class="button-input" (click)="manualDataInput()">Manual Input</button>
        </ng-container>
        <ng-container *ngIf="isManual">
            <button mat-button class="button-input" (click)="fileDataInput()">Send File</button>
        </ng-container> -->
        <!-- <button mat-button>Analyze</button> -->
    <!-- </div> -->
    <ng-container *ngIf="isVisible">
        <div class="data-container">
            <mat-card>
                <mat-card-title>
                    {{header.CALC_TABLE_DATA}}
                </mat-card-title>
                <mat-card-content>
                    <app-data-table 
                        [tableData]="getAnalysisData.calcTableData"
                        [tableType]="outputCalcTableType"
                    ></app-data-table>
                </mat-card-content>
                <mat-card-actions>
                    <app-file-writer
                        [tableData]="getAnalysisData.calcTableData"
                    ></app-file-writer> 
                </mat-card-actions>
            </mat-card>
            <!-- <div class="table">
                <app-data-table 
                    [tableData]="getAnalysisData.calcTableData"
                    [tableType]="outputCalcTableType"
                ></app-data-table>
            </div>
            <div class="download">
                <app-file-writer
                    [tableData]="getAnalysisData.calcTableData"
                ></app-file-writer> 
            </div> -->
        </div>

        <div class="data-container">
            <mat-card>
                <mat-card-title>
                    {{header.RANG_TABLE_DATA}}
                </mat-card-title>
                <mat-card-content>
                    <app-data-table 
                        [tableData]="getAnalysisData.rangTableData"
                        [tableType]="outputRangTableType"
                    ></app-data-table>
                </mat-card-content>
                <mat-card-actions>
                    <app-file-writer
                        [tableData]="getAnalysisData.rangTableData"
                    ></app-file-writer> 
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="data-container">
            <mat-card>
                <mat-card-title>
                    {{header.EXT_CALC_TABLE_DATA}}
                </mat-card-title>
                <mat-card-content>
                    <app-data-table 
                        [tableData]="analysisData.tableData"
                        [tableType]="outputExtCalcTableType"
                    ></app-data-table>
                </mat-card-content>
                <mat-card-actions>
                    <app-file-writer
                        [tableData]="analysisData.tableData"
                    ></app-file-writer> 
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="data-container">
            <div class="params">
                <app-analysis-params
                    [analysisData]="analysisData"
                ></app-analysis-params>
            </div>
        </div>
        <div>
            <app-chart
                [analysisData]="analysisData"
                [getAanalysisData]="getAnalysisData"
                [chartData]="analysisData.chartData"
            ></app-chart>
        </div>
        <mat-card class="download">
            <mat-card-title>Скачать полный отчёт</mat-card-title>
                <mat-card-actions>
                    <div class="card highlight-card">
                        <div class="buttons-container"> 
                            <button 
                                mat-raised-button 
                                color="accent" 
                                class="button-excel" 
                                (click)="downloadExcel()"
                            >
                                {{downloadButtonLabels.EXCEL}}
                            </button>  
                    
                            <button 
                                mat-raised-button 
                                class="button-word" 
                                color="primary"
                                (click)="downloadWord()"
                            >
                                {{downloadButtonLabels.WORD}}
                            </button>  

                            <button 
                                mat-raised-button 
                                class="button-word" 
                                color="warn"
                                (click)="downloadPdf()"
                            >
                                {{downloadButtonLabels.PDF}}
                            </button>  
                        </div>
                    </div>
                </mat-card-actions>
        </mat-card>
    </ng-container>
<!-- </div> -->